*{
  padding: 0px;
  margin: 0px;
  font-family: "poly";
}
html {
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

h1{
  font-size: 48px;
}

h4{
  color: #e24141;
}

li a:hover {
  color: #e24141 !important;
}

#more {
  display: none;
}

.container{
  margin: auto;
  width: 85%;
  overflow: hidden;
}

.main-page{
  height: 640px;
  background-image: url(../images/main_bg_overlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  display: flex;
  width: 100%;
  height: 100px;
  background-color: transparent;
}

.logo{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}

.navigation{
  flex:3;
  display: flex;
  justify-content: flex-end;
}

#list_main_nav {
  list-style-type: none;
  display: flex;
  margin-top: 20px;
  padding-top: 20px;
}

#list_main_nav li{
  text-decoration: none;
}

#list_main_nav a {
  padding: 0px 45px 0px 0px;
  text-decoration: none;
  color: white;
}

.nav_toggle{
  display: none;
}

.main_content{
  display: flex;
  width: 85%;
  margin: auto;
}

.inner_main_content{
  width:40%;
  height: 300px;
  /*background-color: blue;*/
  position: absolute;
  margin-top: 120px;
}

.inner_main_content h1{
  color: white;
  text-align: left;
  font-size: 48px;
}

.inner_main_content p{
  color: white;
  text-align: left;
  font-size: 16px;
  margin-top: 20px;
}

.inner_main_content a{
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.main-button{
  margin-top: 30px;
}

#apply_now{
  background-color: #e24141;
  color: white;
  padding: 15px 20px 15px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#apply_now:hover{
  background-color: white;
  color: #e24141;
}

#view_courses {
  padding: 14px;
  background: transparent;
  color: white;
  font-size: 16px;
  border: 1px solid white;
  margin-left: 10px;
  cursor: pointer;
}

#view_courses:hover{
  background-color: white;
  color: #e24141;
}

.navigation .menu{
  display: none;
  float: right;
}

/* *********************************** ABOUT US ************************************** */
#about_us .container{
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  flex-direction: row;
  justify-content: space-between;
}

.about-us-box1 {
  flex-basis: 50%;
}

.about-us-box2 {
  flex-basis: 50%;
}

.about-us-box1 h1{
  color: #333333;
  padding: 30px 0px 30px 0px;
}

.about-us-box1 p{
  color: #777777;
  font-size: 16px;
  line-height: 1.4;
}

#about-text{
  margin-bottom: 25px;
}

.read-more a{
  color: #e24141;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.read-more a:hover{
  color: #333333;
}

/* *************************************** OUR COURSE ********************************** */
#courses {
  padding-bottom: 65px;
  background-color: #8d8d8d;
  margin-top: 0px;
}

#courses h1 {
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 35px;
  font-size: 48px;
  padding-bottom: 35px;
}

#courses .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  padding-top: 0;
}

#courses .ug_course_box, #courses .pg_course_box {
  width: 45%;
  /* border: 3px solid #e2e2e2; */
  margin-bottom: 30px;
  background-color: white;
  padding-bottom: 20px;
}

#courses img{
  margin-bottom: 15px;
  width: 100%;
}

#courses .ug_course_box div, #courses .pg_course_box div {
  margin-left: 30px !important;
}

#courses h4 {
  font-size: 24px;
  padding: 30px 0 30px 0;
}

#courses ul{
  list-style-type: none;
  line-height: 25px;
  margin-bottom: 15px;
  color: #777777;
}

#courses p a {
  color: #e24141;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

#courses a:hover {
  color: #333333;
}

/*  ************************************ EVENTS ********************************************  */
#event{
  padding-top: 30px;
  background-color: #bda488;
}

#event h1{
  color: #333333;
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
}

#event .container {
  padding: 10px;
  width: 85%;
}

#event .first_event, #event .second_event {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  margin-bottom: 60px;
  /* border: 1px solid #e2e2e2; */
  /* box-shadow: 1px 1px 1px #888888; */
}

#event .first_event div, #event .second_event div{
  width: 40%;
}

#event .first_event .event_content, #event .second_event .event_content {
  width: 58%;
  padding: 40px 50px 40px 50px;
}

#event img {
  height:100%;
  width: 100%;
}

#event  p a {
  color: #e24141;
  font-size: 16px;
  font-weight: bold;
  padding: 25px 50px 0 0;
  text-decoration: none;
}

#event p {
  color: #777777;
  font-size: 16px;
  padding: 25px 50px 0 0;
}

#event a:hover {
  color: #333333;
}

p.e-icons span {
  margin-right: 15px;
}

/* ***************************** LATEST NEWS *********************************** */
#news{
  background-color: #fafafa;
  padding-bottom: 45px;
}

#news .main, #research .main{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-direction: row;
}


#news .main .first, #news .main .second, #news .main .third{
  width: 30%;
  /* box-shadow: 1px 1px 1px #e2e2e2; */
  border: 1px solid #e2e2e2;
  margin-bottom: 30px;
}

#news .main .first div, #news .main .second div, #news .main .third div,
#research .main .first div, #research .main .second div, #research .main .third div, #research .main .fourth div{
  padding-left: 15px;
  padding-right: 26px;
  padding-bottom: 20px;
}

#news img, #research img{
  margin-bottom: 15px;
  width: 100%;
}

#news h1, #research h1{
  text-align: center;
  color: #333333;
  padding-bottom: 35px;
  padding-top: 35px;
}

#news h4{
  font-weight: bold;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

#research h4{
  font-weight: bold;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0px;
  text-align: center;
}

.n-icons span{
  color: #777777;
  margin-left: 15px;
}

/* ******************************************* RESEARCH BOX **************************************** */
#research{
  padding-bottom: 45px;
  background-color: white;
}

#research .main .first, #research .main .second, #research .main .third, #research .main .fourth{
  width: 20%;
  margin-bottom: 30px;
  border: 1px solid #e2e2e2;
  /* box-shadow: 1px 1px 1px #888888; */
}

#research h5{
  color: #333333;
  margin-top: 10px;
  text-align: center;
}

#research p{
  color: #777777;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

/* *******************************FOOTER************************* */
#contact{
  background-color:  #8d8d8d;
  height: 140px;
}

#contact h3{
  font-size: 28px;
  padding: 30px 0 15px 0;
  font-weight: bold;
  color: white;
}

#contact .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact .container .first img{
  width: 220px;
  height: auto;
}

#contact .container .icons{
  margin: 0;
  color: white;
}

#contact ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  align-items: center;
}

#contact ul li{
  width: 30%;
  list-style: none;
  margin-left: 5px;
}

#contact ul li:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

#contact ul li i{
  font-size: 30px;
}


/**********************************FOOTER ********************************** */
#footer{
  background-color: #000;
  color: #fff;
  height: 40px;
}

#footer p{
  padding-top: 10px;
  text-align: center;
}

.fa-facebook:hover {
    color: #3B5998;
  }

.fa-instagram:hover {
  color: #c32aa3;
}

.fa-twitter-square:hover {
    color: #55ACEE;
  }

  .icons{
    cursor: pointer;
  }

/******************************* MEDIA QUERY *****************************/
@media (max-width: 1024px){
h1{
  font-size: 40px;
}

#apply_now{
  font-size: 18px;
}

#apply_now:hover{
  background-color: white;
  color: #e24141;
}

#view_courses{
  font-size: 18px;
}

#view_courses:hover{
  background-color: white;
  color: #e24141;
}

.about-us-box1 p{
  font-size: 18px;
}

.about-us-box1 p a, #courses p a, #event p a{
  font-size: 16px;
}

#courses h4{
  padding: 10px 0px 10px 0px;
}

#courses ul li{
  font-size: 16px;
  line-height: 20px;
}

.event_content h4, #news h4, #research h4, #courses h4{
  font-size: 20px;
}

#research h5{
  font-size: 16px;
}
#research p{
  font-size: 16px;
  margin-top: 15px;
}

#research h4{
  margin-bottom: 0px;
}

.inner_main_content{
  width: 70%;
}

.navigation .menu{
  display: block;
  color: white;
  margin-top: 35px;
  font-size: 30px;
}

#list_main_nav{
  display: block;
  width: 0px;
}
#list_main_nav.active {
  right: 37px;
  opacity: 1;
  width: 175px;
}

.nav_toggle{
  display: block;
}

/*mobile nav*/

#list_main_nav {
    height: auto;
    overflow: hidden;
    width: 175px;
    position: absolute;
    z-index: 1;
    top: 50px;
    right: -180px;
    background-color: #e24141;
    transition: 0.5s;
    padding-top: 0px;
    opacity: 0;
}

#list_main_nav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid white;
}

#list_main_nav a:hover {
    color: #e24141;
    background-color: #fff;
}

#list_main_nav li:last-child a{
  border-bottom: none;
}

.inner_main_content h1{
  font-size: 40px;
}

.inner_main_content p{
  font-size: 20px;
}

#about_us .container{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#about_us .container .about-us-box1, #about_us .container .about-us-box2{
  width: 100%;
}

.about-us-box2 img{
  width: 80%;
}

.read-more a{
  font-size: 20px;
}

#event .first_event, #event .second_event{
  flex-direction: column;
  text-align: center;
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}

#event .first_event div, #event .second_event div{
  width: 100%;
}

#event .first_event .event_content, #event .second_event .event_content{
  width: 87%;
  padding: 40px 0px 40px 40px;
}

#event p a{
  padding: 25px 0 0 0;
}

#event p{
  padding: 25px 0 0 0;
}

#event .e-icons{
  padding: 20px 15px 0 15px;
}

#research{
  padding-bottom: 30px;
}

#research .main .first, #research .main .second, #research .main .third, #research .main .fourth{
  width: 23%;
  text-align: center;
  margin-bottom: 30px;
}

#research .main .first div, #research .main .second div, #research .main .third div, #research .main .fourth div {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
}

#news .main .first, #news .main .second, #news .main .third{
  width: 31%;
  text-align: center;
  margin-bottom: 30px;
}

#news .main .first div, #news .main .second div, #news .main .third div{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.n-icons span{
  margin-left: 0px;
  padding: 0 5px 0 5px;
}

p.n-icons{
  font-size: 14px;
}

#news h1, #research h1{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 9px;
}

#news h4{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

/***********************************************MEDIA QUERY **************************************/
@media(max-width: 767px){

.navigation .menu{
  display: block;
  color: white;
  margin-top: 35px;
  font-size: 30px;
}

.container{
  margin: auto;
  width: 85%;
  overflow: hidden;
}

.logo{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin-left: 0;

}

.logo img#logo_img{
  /* width: 160px; */
  height: 77px;
  margin-top: 14px;
}

.inner_main_content{
  width:80%;
  height: 300px;
  /*background-color: blue;*/
  position: absolute;
  margin-top: 100px;
}

#apply_now{
  padding: 12px 12px 12px 12px;
  font-size: 16px;
  cursor: pointer;
}

#view_courses{
  padding: 11px;
  background: transparent;
  font-size: 16px;
}

#about_us{
  padding-top: 0px;
  padding-bottom: 0px;
}

.about-us-box1 h1 {
  padding: 10px 0px 30px 0px;
}

.about-us-box1 p{
  font-size: 16px;
}

#courses .container{
  flex-direction: column;
}

#courses .ug_course_box, #courses .pg_course_box, #courses h1{
  width: 100%;
  text-align: center;
}

#courses{
  padding-bottom: 40px;
}

#courses .ug_course_box div, #courses .pg_course_box div{
  margin-left: 0px;
}

#courses h4{
  font-size: 24px;
  padding: 10px 0 10px 0;
}

#courses ul{
  line-height: 22px;
}

#courses ul li {
  font-size: 16px;
  line-height: 20px;
}

#event .container{
  padding: 0px;
}

#event .first_event .event_content, #event .second_event .event_content{
  width: 80%;
}

p.e-icons span{
  font-size: 14px;
}

#news .main{
  flex-direction: column;
}

#news .main .first, #news .main .second, #news .main .third{
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

#news .main .first div, #news .main .second div, #news .main .third div {
  padding: 0px 10px 30px 10px;
}

.n-icons span {
  padding: 0px 10px 0 10px;
}

#news h1, #research h1, #news h4, #research h4{
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
  padding-bottom: 0px;
}

p.n-icons{
  font-size: 14px;
}

#research .main .first, #research .main .second, #research .main .third{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

#research .main .fourth{
  display: none;
}

#research .main{
  display: block;
}

#research img {
    /* margin-bottom: 15px; */
    margin-top: 30PX;
    width: 70%;
}

#research h5{
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

#research p{
  color: #777777;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

#news .main{
  flex-direction: column;
}

#news .main .first, #news .main .second, #news .main .third{
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

#news h1, #research h1, #courses h1, #event h1{
  font-size: 40px !important;
}

.about-us-box1 p a, #courses p a, #event p a {
  font-size: 16px;
}

#contact{
  background-color: #8d8d8d;
  height: 110px;
}

#contact h3{
  font-size: 18px;
  padding: 30px 5px 5px 0;
  font-weight: bold;
  color: white;
  padding-right: 20px;
}

#contact .container .first img{
  width: 160px;
  height: auto;
}

#contact ul li i{
  font-size: 16px;
}

.copyright p{
  font-size: 12px;
}
}

/* Media Query for mobile */

@media (min-width: 320px) and (max-width: 480px){

.container{
  margin: auto;
  width: 85%;
  overflow: hidden;
}

.inner_main_content h1{
  font-size: 32px;
}

#about_us{
  padding-bottom: 0px;
}

.about-us-box1 p{
  margin-top: 0px;
}

#about_us .container{
  display: flex;
  padding-top: 0px;
  padding-bottom: 30px;
}

.about-us-box2 img{
  margin-top: 10px;
}

#about-text{
  margin-bottom: 15px;
}

#courses ul li{
  font-size: 16px;
  line-height: 1.6;
}

#courses h4, #courses ul li, #courses a{
  padding-right: 25px;
}

#news .main, #research .main{
  flex-direction: column;
}

#news .main .first, #news .main .second, #news .main .third,
#research .main .first, #research .main .second, #research .main .third, #research .main .fourth{
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

#research h4, .event_content h4, #news h4{
  font-size: 22px;
}

#research h5{
  font-size: 18px;
}

#research img{
  margin-top: 25px;
  width: 80%;
}

#research p {
  margin-bottom: 30px;
  text-align: center;
  padding: 0px 10px;
}

#news, #research .main .first div, #research .main .second div, #research .main .third div, #research .main .fourth div {
  padding-bottom: 0px;
}

#event .first_event .event_content, #event .second_event .event_content{
  width: 99%;
  padding: 40px 0px 40px 0px;
}

#event p{
  padding: 15px 10px 0 10px;
}

p.e-icons span{
  margin-right: 23px;
  margin-left: 23px;
}
}
